.articles-container {
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.article {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.source-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}

.article-image {
  height: 100%;
  width: 180px;
}

.article-thumb img {
  max-height: 100%;
  max-width: 100%;
}

.article-info {
  width: 40%;
  overflow-wrap: normal;
  flex-basis: 90%;
  margin-left: 3%;
}

.article-image img {
  max-height: 100%;
  max-width: 100%;
}

/*.article-info {
  display: flex;
  flex-wrap: wrap;
}*/
