/* You can add global styles to this file, and also import other style files */

/*MAP*/

.map {
  position: relative;
  height: 600px;
  top: 0;
}

.sebm-google-map-container {
    width: 100%;
    height: 100%;
}
